<div class="text-center" id="background">
  <div class="title">Ware2GO Admin Panel</h2>
  <div class="text-center padding-top lg">
    <div class="btn-group-vertical btn-group-lg">
      <%= link_to 'Users View', stats_users_path, class: 'btn btn-success' %>
      <div class="margin-top lg"></div>
      <%= link_to 'Statistics', stats_path, class: 'btn btn-success' %>
      <div class="margin-top lg"></div>
      <%= link_to 'Assistance Requests', assistances_page_path, class: 'btn btn-success' %>
      <div class="margin-top lg"></div>
      <%= link_to 'Assistance Map', assistance_maps_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
